/* Reset margins and padding for HTML and body elements */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    
    background-color: #0a0a0a;
    color: white;
}

h1 {
    text-align: center;
}

.body-align {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    flex-direction: column;
    width: 100%;
    height: 100vh; /* Makes the div full height of the viewport */
}

/* Create a container for the grid */
#grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 0px; /* You can adjust the gap as needed */
    height: 50%; /* Set the height of the grid container to 100% */
}

.grid-item {
    border: 2px dotted white;
    white-space: nowrap;
}

#html-tutorial-links {
    align-self: center;
}

#css-tutorial-links {
    align-self: center;
}

#js-tutorial-links {
    align-self: center;
}